################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAppTarde/.vs/TestAppTarde/v16
/.vs
